In [12]:
import pickle
        
with open("data_extract/data_json_1.pickle","rb") as f:
    data_1 = pickle.load(f)

In [16]:
with open("data_extract/data_json_2.pickle","rb") as f:
    data_2 = pickle.load(f)

In [17]:
with open("data_extract/data_json_3.pickle","rb") as f:
    data_3 = pickle.load(f)

In [18]:
with open("data_extract/data_json_4.pickle","rb") as f:
    data_4 = pickle.load(f)

In [19]:
with open("data_extract/data_json_5.pickle","rb") as f:
    data_5 = pickle.load(f)

In [20]:
with open("data_extract/data_json_6.pickle","rb") as f:
    data_6 = pickle.load(f)

In [21]:
data = data_1 + data_2 + data_3 + data_4 + data_5 + data_6

In [22]:
taxon_rank_set = set()
for d in data:
    taxon_rank_set.add(d["taxon_rank"])

In [23]:
taxon_rank_set

{'',
 'Q164280',
 'Q2007442',
 'Q2136103',
 'Q227936',
 'Q279749',
 'Q2889003',
 'Q3238261',
 'Q34740',
 'Q35409',
 'Q36602',
 'Q5867051',
 'Q5867959',
 'Q5868144',
 'Q6311258',
 'Q68947',
 'Q7432'}

In [ ]:
#   '',
#  'Q164280',subfamily 亜種 科の下位の分類階級
#  'Q2007442',infraclass 下綱
#  'Q2136103',superfamily 上科
#  'Q227936',tribe　属
#  'Q279749',form　品種　種より下位の分類階級の一つ
#  'Q3238261',subgenus　亜属　属の下位に位置する分類階級
#  'Q34740',genus　属　分類階級
#  'Q35409',family　科　also known as 上科
#  'Q36602',order 目　生物分類における階級
#  'Q5867051',subclass 亜綱
#  'Q5867959',suborder 亜目
#  'Q5868144',superorder　上目
#  'Q6311258',parvorder　小目
#  'Q68947',subspecies　亜種
#  'Q7432'species　種　生物分類の基本単位

In [ ]:
# 網＞目＞科＞属＞種

In [ ]:
# 巨目（Magnorder）	
# 上目（Superorder）	
# 大目（Grandorder）	
# 中目（Mirorder）	
# 目（Order）	
# 亜目（Suborder）
# 下目（Infraorder）
# 小目（Parvorder）